.menu {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul{
    display: flex;
    justify-content: space-between;
}
ul > li{
    margin: 25px;
}
.logo > img{
    width: 100px;
    height: 100px;

}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu ul li {
  margin-bottom: 10px;
}

.menu-link {
  text-decoration: none;
  color: white; /* Darker orange color for menu links */
  font-size: 16.5px;
  font-weight: 400;
}

.menu-link:hover {
  color: white;
}

.login{
    font-weight: bold;
    font-size: 18px;
}
